*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(7, 81, 255);
    min-width: 320px;
}

h1{
    color: white;
    font-style: italic;
    text-decoration: underline;
    font-size: 3.5rem;
    padding: 0.5em;
}

@media screen and (max-width: 370px){
    h1{
        font-size: 2rem;
    }
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(15, 52, 161);
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px black;
    padding: 4em;
}

.btn{
    background-color: rgb(27, 72, 206);
    color: white;
    padding: 1.5em;
    border-radius: 10px;
    font-weight: bolder;
    border-width: 1px;
}

.btn:focus{
    outline-width: 0px;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0.5px 0.5px 3px 0.5px black;
}
